@charset "ISO-8859-1";
body {
    background-color:  #ADD8E6;
    text-align: center;
}
h1, h2, h3 {
    font-family: "Times New Roman", serif;
}
table {
	 margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #ADD8E6; /
}
td {
    text-align: center;
}
tr:hover {
    background-color: #F2F2F2; /
}
.styled-button {
    padding: 10px 20px;
    background-color:#400040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.styled-button:hover {
    background-color: #0056B3;
}